<style>
    ul.breadcrumb {
        display: none;
    }

    .download_btn {
        margin: 18px 0 0 0;
        text-align: center;
        position: absolute;
        right: 11px;
    }
</style>

<link rel="stylesheet" href="/assets/webarch/css/flate.css" />
<link rel="stylesheet" href="/assets/webarch/css/quicknav-menu.css" />

<div id="main-content">

    <div class="row">
        
        <div class="col-md-12">
            <div class="box box-black">

                <div class="box-title">
                    <h3><i class="fa fa-hotel"></i>  Manage Booking</h3>

                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right">
                    </div>





                    <div class="row">
                        <div class="col-lg-3">
                            <div class="mhed"> <a href="/Unit/Dashboard/Home"><i class="fa fa-pencil margin-left"></i>Dashboard</a></div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mhed"> <a href="/Unit/Booking/HotelBooking"><i class="fa fa-pencil margin-left"></i> Room Booking</a></div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mhed"> <a href="/Booking/UpdateBStatus"><i class="fa fa-pencil margin-left"></i> Confirm Booking</a></div>
                        </div>
                        <div class="col-lg-3">
                            <div class="mhed"> <a href="/ManageBooking/EditCheckinPayment"><i class="fa fa-pencil margin-left"></i> Edit Checkin Details</a></div>
                        </div>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-advance">
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>


        <div class="col-md-12">
            <div class="box box-black">

                <div class="box-title1">
                    <h3><i class="fa fa-file"></i> Hotel Reports</h3>
                    <div class="box-tool">
                    </div>
                </div>
                <div class="box-content">
                    <div class="btn-toolbar pull-right">
                    </div>





                    <div class="row">


                        <div class="col-md-3">
                            <div class="mhed"> <a href="/Report/RoomBookingReport"><i class="fa fa-pencil margin-left"></i> Booking Report</a></div>
                        </div>

                    </div>


                    <div class="table-responsive">
                        <table class="table table-advance">
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <!-- END Main Content -->
</div>
